<h2>Angular PHP Demo Application</h2>
<p>This application demonstrates a simple AngularJS front end on top of a PHP server. Effort was made to keep it at the minimum level of complexity required to show a working web application on top of a working API. After all, premature optimization is evil.</p>

<hr/>

<h4>Development Environment and Workflow</h4>

<p>This project was developed on <a href="https://www.linuxmint.com/">Linux Mint</a>. Any Linux environment reasonably compatible with Ubuntu 14.04 should be able to build and run it without issues.</p>

<p><a href="https://git-scm.com/">Git</a> handles source control, peerless lord and master of its domain. <a href="https://github.com/nvie/gitflow">Git Flow</a> on top streamlines the process of creating branches and merging them back into the central develop branch. All operations are performed in the command line.</p>

<p><a href="http://gruntjs.com/">Grunt</a> is used to automate all the boring stuff like compiling SASS files into CSS, linting JS files to help kill bugs and running a localhost webserver with live reload to make the feedback loop as short as humanly possible. In order to use Grunt, <a href="https://www.npmjs.com/">NPM</a> is needed for package management as well as <a href="https://nodejs.org/en/">Node for it to run on.</a>

<p><a href="http://yeoman.io/">Yeoman</a> was used to scaffold out the application, specifically using <a href="https://github.com/yeoman/generator-angular">generator-angular</a>. I've found that this sort of boilerplate tool helps immensely with getting a project going as quickly as possible. To that end, <a href="https://bower.io/">Bower</a> is used to manage dependencies such as AngularJS itself.</p>

<p>The last.fm API interface is run off the PHP <a href="http://php.net/manual/en/features.commandline.webserver.php">built-in web server</a>, accessed from the web application itself via a proxy. This is created automatically as part of the build process when we run grunt serve, by <a href="https://github.com/drewzboto/grunt-connect-proxy">grunt-connect-proxy</a></p>

<p>All code and documentation was written in <a href="https://www.sublimetext.com/">Sublime Text</a>.</p>

<hr/>

<h4>Repository</h4>

This project is hosted on GitLab <a href="https://gitlab.com/projectserv/angular-php-demo">right here</a>.