<div class="container">
	<div class="row" ng-if="tracks">
		<h2>Top tracks: {{artist}}</h2>
		<p ng-repeat="track in ::tracks">
			<a href="{{track.url}}" target="_blank">({{track.playcount}}) - {{track.name}}</span>
		</p>
	</div>
	<div class="row" ng-if="invalid">
		<h2>Error!</h2>
		<p>Unfortunately, that ID is invalid.</p>
	</div>
</div>