<div class="row">
	<form novalidate class="form-inline pull-left mform" name="mform">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">Country</div>
				<input type="text" class="form-control" placeholder="Enter country name..." name="input" ng-model="country" required/>
			</div>
			<div class="input-group">
				<div class="input-group-addon">Count</div>
				<input type="number" class="form-control" name="max" ng-model="pgMax" required/>
			</div>
			<button type="submit" ng-click="submitForm()" class="btn btn-primary">Search</button>
		</div>
	</form>
</div>
<hr/>
<div class="row" ng-if="artists">
	<div class="text-center">
		<button ng-disabled="pgCur == 1" class="btn btn-default pull-left" ng-click="pgPrev()"><</button>
		<span class="pagecounter"> Pg {{pgCur}} of {{pgCount}} </span>
		<button ng-disabled="pgCur == pgCount" class="btn btn-default pull-right" ng-click="pgNext()">></button>
	</div>
</div>
<div class="row ap-artist-grid" ng-if="artists">
 	<ap-artist ng-repeat="artist in artists"></ap-artist>
</div>
<hr/>